/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* primary/main color */
  --clr-primary-1: #ffbb54;

  /* secondary/main color */
  --clr-secondary-1: #25c78b;
  --clr-secondary-2: #04a4f4;
  --clr-secondary-3: #db5962;

  /* neutral/main color */
  --clr-neutral-1: #141522;
  --clr-neutral-2: #9c9ca4;
  --clr-neutral-3: #dfdfdf;
  --clr-neutral-4: #f5f5f7;
  --clr-neutral-5: #fcfcfc;
  --clr-neutral-6: #ffffff;

  /* label/main color */
  --clr-label-1: #eaf8ff;
  --clr-label-2: #eff6e9;
  --clr-label-3: #fff3e0;
  --clr-label-4: #fff4f3;
  --clr-label-5: linear-gradient(
    to right,
    #547aff 0%,
    #1337f2 92%,
    s #2400ff 100%
  );

  --ff-primary: "Plus Jakarta Sans", sans-serif;

  --transition: all 0.3s linear;

  --spacing: 0.1rem;
}

/*
=============== 
Global Styles
===============
*/
html {
  font-size: 62.5%;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--clr-neutral-1);
  line-height: 200%;
  font-weight: 400;
  font-size: 1.4rem;
  width: 100%;
  background-color: var(--clr-neutral-5);
}
input {
  border: none;
}

h1,
h2,
h3,
h4 {
  line-height: 150%;
  margin: 0;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
h2 {
  font-size: 2rem;
  font-weight: 500;
}
h3 {
  font-size: 1.8rem;
  font-weight: 700;
}
h4 {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--clr-neutral-2);
}
p {
  margin-bottom: 1.4rem;
  color: var(--clr-grey-5);
  margin: 0;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.4rem;
  }
}
.p-8 {
  padding: 2rem;
}
.align-self-center {
  align-self: center;
}
.margin{
  margin: 4rem;
}

/* ========
sidebar
=========== */

.sidebar-opton {
  background-color: var(--clr-neutral-3);
}

/* ========
product
=========== */
.productsList {
  justify-items: center;
}
.error-block {
  background-color: #f0d9e5;
  margin: 1rem 0;
  padding: 2rem;
  border-radius: 4px;
  width: fit-content;
  color: #890b35;
  display: flex;
  gap: 2rem;
  align-items: center;
  text-align: left;
  justify-self: center;
}

.error-block-icon {
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  color: #fff;
  background-color: #890b35;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-block h2 {
  color: inherit;
  font-size: 1.25rem;
  margin: 0;
}

.error-block p {
  margin: 0;
}
.filter-box {
  padding: 0.7rem 1.2rem;
  border: 1px solid var(--clr-neutral-4);
  border-radius: 1rem;
  box-shadow: 0 0 2px 0 var(--clr-label-3);
}
