/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/*
=============== 
Variables
===============
*/

:root {

  /* primary/main color */
  --clr-primary-1: #FFBB54;
  

  /* secondary/main color */
  --clr-secondary-1: #25C78B;
  --clr-secondary-2: #04A4F4;
  --clr-secondary-3: #DB5962;


  /* neutral/main color */
  --clr-neutral-1: #141522;
  --clr-neutral-2: #9C9CA4;
  --clr-neutral-3: #DFDFDF;
  --clr-neutral-4: #F5F5F7;
  --clr-neutral-5: #FCFCFC;
  --clr-neutral-6: #FFFFFF;


  /* label/main color */
  --clr-label-1: #EAF8FF;
  --clr-label-2: #EFF6E9;
  --clr-label-3: #FFF3E0;
  --clr-label-4: #FFF4F3;
  --clr-label-5: linear-gradient(to right,
  #547AFF 0%,
  #1337F2 92%,s
  #2400FF 100%);

  --ff-primary: "Plus Jakarta Sans", sans-serif;

  --transition: all 0.3s linear;

  --spacing: 1rem;
}

/*
=============== 
Global Styles
===============
*/
html {
  font-size: 62.5%;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;;
  color: var(--clr-neutral-1);
  line-height: 200%;
  font-weight: 400;
  font-size: 1.4rem;
  width: 100%;
  background-color: var(--clr-neutral-5);
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 150%;
  margin: 0;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 2.5rem;
  font-weight: 700;
  
}
h2 {
    font-size: 2rem;
    font-weight: 500;
}
h3 {
    font-size: 1.8rem;
    font-weight: 700;
}
h4 {
    font-size: 1.4rem;
    font-weight: 500;
}
p {
  margin-bottom: 1.4rem;
  color: var(--clr-grey-5);
  margin: 0;
}

@media screen and (min-width: 768px) {
body{
  font-size:1.3rem
}

}
.p-8{padding:2rem;}

/* ========
sidebar
=========== */

.sidebar-opton{
  background-color: var(--clr-neutral-3);
}

/* ========
product
=========== */
.productsList{
  justify-items: center;
}